/* Estilos globales */
html, body {
  min-width: 400px;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Estilos para la barra de navegación (navbar) */
.navbar {
  background-color: #ebfffc;
  padding: 10px 0;
}

.navbar-brand img {
  margin-right: 10px;
}

/* Estilos para la sección de contenido */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

/* Estilos para el formulario de búsqueda */
.form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 30px;
}

/* Estilos para las tarjetas (cards) */
.card {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description h2 {
  font-size: 22px;
}

.card-description p {
  font-size: 15px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

/* Estilos adicionales */
.features img {
  width: 100px;
}

.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.features p {
  font-size: 15px;
  font-weight: lighter;
}
