/* 
 # Preloader
*/

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: cross-fade('/src/app/static/assets/fondo1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

body {
    background-image: url('/src/app/static/assets/fondo1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: rgba(255, 255, 255, 0.5); 
}

.centered  {
    text-align: center;
    vertical-align: middle;
}

/*
 # Navbar 
*/
/* Navbar transparente */
.navbar {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
}

/* Estilo de fuente para la barra de navegación */
.navbar a {
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    font-weight: bold;
    margin-left: 25px;
}


/*
 # Ini Section
*/

.ini form {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
  
.ini form .form-control {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
}
  
.ini form .form-control:hover,
.ini form .form-control:focus {
    outline: none;
    box-shadow: none;
}

/* CARD */
/* Estilos para la tarjeta */
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  /* Estilos para el título */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Estilos para la fecha */
  .card-subtitle {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
  }
  
  /* Estilos para el texto del cuerpo de la tarjeta */
  .card-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  /* Estilos para el distintivo de moda */
  .badge-warning {
    background-color: #07daff;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 20px;
  }